In [7]:
#dependencies
import pandas as pd
import os

from sqlalchemy import create_engine, Column, Integer, String, Float, Date
from sqlalchemy.ext.declarative import declarative_base
#from sqlalchemy.orm.instrumentation import unregister_class

Base = declarative_base()

In [2]:
#read in csvs 
msmt_df = pd.read_csv('Resources/clean_hawaii_measurements.csv')

stn_df = pd.read_csv('Resources/clean_hawaii_stations.csv')

stn_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [3]:
#use the engine to create a database called hawaii.sqlite
engine = create_engine('sqlite:///Resources/hawaii.sqlite')

In [8]:
'''unregister_class(Measurement)
del Measurement._decl_class_registry[Measurement.__name__]'''

In [9]:
'''unregister_class(Station)
del Measurement._decl_class_registry[Station.__name__]'''

In [10]:
'''Create Measurement and Station Classes'''

#Measurement
class Measurement(Base):
    __tablename__ = 'Measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)
    
#Station
class Station(Base):
    __tablename__ = 'Stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [11]:
#create the Measurments and Stations tables w/in the db
Base.metadata.create_all(engine)

In [12]:
#check the table names
engine.table_names()

['Measurements', 'Stations']

In [13]:
#put the data into the tables
msmt_df.to_sql('Measurements', engine, if_exists = "append", index=False)
stn_df.to_sql('Stations', engine, if_exists = "append", index=False)